body {
  margin: 1px;
  padding: 1px;
  margin-top: 0;
}

#logo {
    width: 150px;
}

.Header {
    object-fit: cover;
    height: 120px;
    background: #FFE77A;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 0px 0px 30px 30px;
}

.TopRightNavigation {
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    display: block;
}

#SearchBox {
    box-sizing: border-box;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    height: 55px;
    border-radius: 50px;
    border: none;
    padding: 20px;
    vertical-align: middle;
}

.TopRightNavigation button{
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    background: #2C5F2D;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}

button:hover {
  border-radius: 50%;
}

.TopRightNavigationIcons {
    width: 70%;
}

.ButtonText {
    margin: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
}

/*Faqs_content*/
.faqs_cont {
    margin: 50px auto;
    background-color: #FFE77A;
    border-radius: 20px;
    color: #2C5F2D;
    font-size: 20px;
    height: 1500px;
    width: 800px;
}

#head_FAQS {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    color: #2C5F2D;
}

.faqsbody {
    margin-left: 30px;
}

.faqslists {
    margin-left: 20px;
}
