body {
  margin: 1px;
  padding: 1px;
  margin-top: 0;
}

.material-icons-two-tone{
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 50px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
	}

.Header {
	object-fit: cover;
	height: 150px;
	background: #FFE77A;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 0px 0px 30px 30px;
}

.TopRightNavigation {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
	display: block;
}

.navBar {
	text-align: center;
}

.TopRightNavigation button{
	box-sizing: border-box;
	width: 75px;
	height: 75px;
	background: #2C5F2D;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	border: none;
}

.ButtonText {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;

	color: #FFFFFF;
}

.NavBar {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	text-align: center;
}

.NavBar button {
	box-sizing: border-box;
	background: #E8F5E9;
	border: 2px solid #2E7D32;
	border-radius: 50px;
}