body {
  margin: 1px;
  padding: 1px;
  margin-top: 0;
}

.Header {
	object-fit: cover;
	height: 125px;
	background: #FFE77A;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 0px 0px 30px 30px;
}