.head1 {
    background-color: #512DA8;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

/*logo*/
#pagetitle {
    width: 400px;
    height: 100px;
    background-color: #d0d5d7;
    float: left;
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}



/*navigation_locator*/
.navigation {
    margin-top: 30px;
    float: right;
    display: flex;
    padding: 20px;
}

/*searchbar*/
#searchbar {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin-right: 10px;
}

/*navigation_buttons*/
.inside_btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #17495d;
    border-radius: 8px;
    margin-right: 5px;
}

.leftpart {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    float:left;
}

.searchresult {
    float: left;
    margin-left: 30px;
    font-size: 25px;
}

/* for the categories nav button */
#categ {

    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#categ a{
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: black;
   
}

.nav-btn {
    padding: 20px;
    width: 300px;
    height: 75px;
    background-color: #d0d5d7;
    border-radius: 30px;
    margin-right: 5px;
}


/* For Products */

.NewArrivals{
    border: 5px solid #00C853;
    box-sizing: border-box; 
    grid-area: 1 / 1; 
    padding: 20px; 
    width: inherit; 
    border-radius: 10px;
    margin-top: 50px;
}
  
fieldset.NewArrivals legend {
      background: #00C853;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 250px;
      height: 50px;
      font-family: 'Arial';
      font-size: 30px;
      font-weight: bold;
      padding-top: 5px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      text-align: left;
  }
  
fieldset.NewArrivals legend img {
    padding-right: 10px;
    width: 40px;
}
  
.TopSelling{
    border: 5px solid #E53935; 
    box-sizing: border-box; 
    grid-area: 1 / 1; 
    padding: 20px; 
    width: inherit; 
    border-radius: 10px;
    margin-top: 50px;
}
  
fieldset.TopSelling legend {
      background: #E53935;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 250px;
      height: 50px;
      font-family: 'Arial';
      font-size: 30px;
      font-weight: bold;
      padding-top: 5px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      text-align: left;
}
  
fieldset.TopSelling legend img {
    padding-right: 10px;
    width: 40px;
}
  
.Recommendations{
    border: 5px solid #F4511E;
    box-sizing: border-box; 
    grid-area: 1 / 1; 
    padding: 20px; 
    width: inherit; 
    border-radius: 10px;
    margin-top: 50px;
}
  
fieldset.Recommendations legend {
    background: #F4511E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 350px;
    height: 50px;
    font-family: 'Arial';
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    text-align: left;
}
  
fieldset.Recommendations legend img {
    padding-right: 10px;
    width: 40px;
}
  
.More{
    border: 5px solid #039BE5;
    box-sizing: border-box; 
    grid-area: 1 / 1; 
    padding: 20px; 
    width: inherit; 
    border-radius: 10px;
    margin-top: 50px;
}
  
fieldset.More legend {
      background: #039BE5;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      width: 150px;
      height: 50px;
      font-family: 'Arial';
      font-size: 30px;
      font-weight: bold;
      padding-top: 5px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      text-align: left;
}
  
fieldset.More legend img {
    padding-right: 10px;
    width: 40px;
}

.prod_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.product {
    width: 25%;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 200px;
    cursor: pointer;
}
.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

.product img {
    width: 80%;
    margin-bottom: 10px;
}
.product h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #333;
}

.price {
    margin-top: 10px;
    font-size: 16px;
    color: #888;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider-container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
    overflow-x: hidden;
    width: calc(200px * 6 + 20px * 12);
    position: relative;
  }

  
.product {
    width: 25%;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 200px;
    cursor: pointer;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

.slider-button-prev {
    left: 10px;
}

.slider-button-next {
    right: 10px;
}
@media screen and (max-width: 768px) {
    .product {
        width: 50%;
    }
}

.preview {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    top: 50%;
    left: 50%;
    background-color: rgb(136, 194, 255);
    transform: translate(-50%, -50%);
    position: fixed;
    display: none;
    height: auto;
    width: 450px;
    }

.preview.active {
    display: block;
    }
    
.preview img {
    width: 80%;
    margin: 10px auto;
    }
    
.preview h3 {
    font-size: 40px;
    margin: 10px 0;
}
    
.preview p {
    font-size: 20px;
    margin: 10px 0;
}
    
.preview .price {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}
    
.preview .buttons {
    margin-top: 20px;
}
    
.preview .buy, .preview .cart {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
}
    
.preview .buy:hover, .preview .cart:hover {
    background-color: #3e8e41;
}
    
.preview .fa-times {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
}
    
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: none;
}
      
.preview.active + .overlay {
    display: block; 
}