.head1 {
    background-color: #512DA8;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

/*logo*/
#logo {
    width: 275px;
    height: 150px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}


/*navigation_locator*/
.navigation {
    margin-top: 30px;
    float: right;
    display: flex;
    padding: 20px;
}

/*searchbar*/
#searchbar {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin-right: 10px;
}

/*navigation_buttons*/
.inside_btn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 80px;
    height: 80px;
    background-color: #17495d;
    border-radius: 8px;
    margin-right: 5px;
}


/*sorted by:*/
#sort {
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

select {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

/*by category*/
#sort_cat {
    margin-left: 30px;
    padding-top: 175px;
    font-size: 30px;
    font-weight: bold;
}

/*rating*/

#sort_rat {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.checked{
    color: orange;
}

/*Shipping Option*/

#sort_ship_opt {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

/*Shipped From*/

#sort_ship_from {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

/*for the price range*/
.container {
    margin-top: 20px;
    
}

.price-input {
    width: 200px;
    margin-left: 30px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.apply-btn {
    margin-left: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.apply-btn:hover {
    background-color: #3e8e41;
}

#price_range {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}